<!DOCTYPE html>
<html>
<head>
    <title>Para o meu amor ❤️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

    <div class="container">

        <div class="hero">
            <h1>Feliz Dia dos Namorados ❤️</h1>
        </div>

        <div class="mensagem">
            <p>Esse site foi feito especialmente para você.</p>
        </div>

        <div class="botao">
            <button>Abrir Surpresa</button>
        </div>

    </div>

</body>
</html>